<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutofillCreditCardEnabled</key>
	<false/>
	<key>ConfigureDoNotTrack</key>
	<true/>
	<key>DefaultBrowserSettingEnabled</key>
	<false/>
	<key>DefaultSearchProviderEnabled</key>
	<true/>
	<key>DefaultSearchProviderName</key>
	<string>Google</string>
	<key>DefaultSearchProviderSearchURL</key>
	<string>{google:baseURL}search?q={searchTerms}</string>
    <key>DiagnosticData</key>
    <integer>0</integer>
	<key>ExtensionInstallBlocklist</key>
	<array>
			<string>*</string><!--ARC Welder-->
			
	</array>
	<key>ImportPaymentInfo</key>
	<false/>
	<key>NewTabPageHideDefaultTopSites</key>
	<true/>
	<key>PaymentMethodQueryEnabled</key>
	<false/>
	<key>PopupsAllowedForUrls</key>
    <array>
			<string>[*.]approved_URL.com</string><!--Approved Site-->
			<string>[*.]approved_URL.com</string><!--Approved Site-->
    </array>
	<key>ShowHomeButton</key>
	<true/>
	<key>SitePerProcess</key>
	<true/>
	<key>SmartScreenEnabled</key>
	<true/>
	<key>SyncDisabled</key>
	<false/>
	<key>TrackingPrevention</key>
	<integer>3</integer>
	<key>UserFeedbackAllowed</key>
	<false/>
</dict>
</plist>