<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>EnterprisePoliciesEnabled</key>
   <true/>
<key>ExtensionSettings</key>
  <dict>
    <key>*</key>
    <dict>
      <key>blocked_install_message</key>
      <string>.</string>
      <key>install_sources</key>
      <array>
        <string>*</string>
      </array>
      <key>installation_mode</key>
      <string>allowed</string>
      <key>allowed_types</key>
      <array>
        <string>*</string>
      </array>
    </dict>
    <key>itadmin@company.com</key>
    <dict>
      <key>installation_mode</key>
       <string>force_installed</string>
      <key>install_url</key>
      <string>file:////Library/Manufacturer/Endpoint Agent/dlp-firefox-addon.xpi</string>
    </dict>
  </dict>
</dict>
</plist>
